@font-face{
    font-family: 'Adobe Arabic';
    src: url('AdobeArabic-Bold.woff2') format(woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-family: 'Iran Sans';
    src: url('IRANSans-Bold.woff2') format(woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    background-image: image-set("wall.jpg");
}
*{
    padding: 0;
    margin: 0;
}
img {
    max-width: 35%;
    height: auto;
    margin-right: 30%;
    border-radius: 10%;
  }
img:hover{
    border-radius: 0;
    filter: brightness(125%);
    filter:grayscale(120%);
    cursor:all-scroll;
}
.ul{
    display: block;
    text-align: right;
    direction: rtl;
}
.header{
    direction: rtl;
    font-family: 'Adobe Arabic';
    font-size: 20px;
    background-image: image-set("backback.jpg");
    background-size: 100%;
    color: white;
    display: flex;
    justify-content: right;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.header_pic{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.header_left{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header_word{
    margin-left: 60%;
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
}
.header_word_titr{
    margin-left: 10%;
}
.main{
    direction: rtl;
    background-image: image-set("bacck.jpg");
    background-size: 100%;
    border-radius: 10px;
    color: black;
    height: 100%;
    display: flex;
    justify-content: right;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;   
}
.main img{
    filter: blur(1px);
}
.main_left{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.main_right{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about_me{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ertebat{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10%;
    padding-right: 10%;
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.shoql{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-left: 10%;
    padding-right: 10%;
    height: 30%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tahsil{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-left: 10%;
    padding-right: 10%;
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ability{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-left: 10%;
    padding-right: 10%;
    height: 30%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_titr{
    color: rgb(186, 107, 173);
    font-family: 'Adobe Arabic';
    font-size: 30px;
    background-color: rgb(53, 46, 46);
    border-radius: 10px;
    width: 60%;
    height: auto;
    padding: 5px;
    text-align: center;
}
.main_p{
    font-family: 'Iran Sans';
    font-size: 15px;
    width: 60%;
    height: auto;
    margin-top: 5%;
    padding: 5px;
    text-align: justify;
}
.er_titr{
    font-family: 'Adobe Arabic';
    font-size: 20px;
    margin-top: 5%;
    padding: 5px;
}
.er_ul{
    font-family: 'Iran Sans';
    font-size: 15px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 5px;
}
.sh_p{
    font-family: 'Iran Sans';
    font-size: 15px;
    width: 60%;
    height: auto;
    margin-top: 2.5%;
    padding: 5px;
    text-align: justify;
}
.sh_ul{
    font-family: 'Iran Sans';
    font-size: 15px;
    margin-bottom: 2.5%;
    padding: 5px;
    text-align: justify;
}
.th_ul{
    font-family: 'Iran Sans';
    font-size: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5px;
    text-align: justify;
}
.ab_ul{
    font-family: 'Iran Sans';
    font-size: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5px;
    text-align: justify;
}
.main_titr:hover{
    background-color: beige;
    color: deeppink;
    cursor:grab;
}
